<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <!-- El título puede ser un bloque para que cada página lo cambie -->
    <title>{% block title %}F/GO Dashboard{% endblock %}</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap");
    </style>

    <!-- CSS Modular: Variables > Reset > Componentes -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/variables.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/sidebar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/cards.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/components/auth.css') }}"
    />
    <!-- CSS Monolítico Original (Comentado para backup) -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" /> -->

    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/base-page/favicon.ico') }}"
      sizes="any"
    />
    <!-- Font Awesome Free 6.4.0 -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='icons/base-page/favicon.svg') }}"
      type="image/svg+xml"
    />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='icons/base-page/apple-touch-icon.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='icons/base-page/site.webmanifest') }}"
    />
  </head>

  <body>
    <!-- Boton de iniciar sesión -->
    <nav class="auth_container">
      <button id="auth-open-button" class="auth_button">
        <span>Iniciar Sesión</span>
        <span class="input_separator input_separator--user"></span>
        <img
          src="{{ url_for('static', filename='icons/base-page/account-icon.svg') }}"
          alt="Icono de cuenta de usuario"
        />
      </button>
      <!-- boton de cerrar sesion -->
      <div id="user-profile" class="auth_user hidden">
        <span id="user-profile-name"></span>
        <span
          id="user-input-separator"
          class="input_separator input_separator--user"
        ></span>
        <div id="user-profile-icon" class="profile_icon">
          <span></span>
        </div>
        <div class="user_menu">
          <span id="user-email"></span>
          <button id="logout-button" class="logout_button">
            <span>Cerrar Sesión</span>
            <img
              src="{{ url_for('static', filename='icons/base-page/logout-icon.svg') }}"
              alt="Icono de cerrar sesión"
              class="logout_icon"
            />
          </button>
        </div>
      </div>
    </nav>
    <!-- Modal de Autenticación -->
    <div id="login-modal" class="modal_overlay">
      <div id="auth-modal">
        <button id="auth-close-button" class="modal_close">&times;</button>
        <h2 id="auth-title">Iniciar Sesión</h2>
        <hr class="login" />
        <!-- Inicio de Sesión -->
        <form id="login-form" class="auth_form">
          <div class="login_input">
            <img
              src="{{ url_for('static', filename='icons/base-page/email-icon.svg') }}"
              alt="Icono de email"
              class="auth_icon"
            />
            <span class="input_separator">|</span>
            <input
              id="login-email"
              type="email"
              placeholder="Correo electrónico"
              class="auth_input"
              required
            />
          </div>
          <div class="login_input">
            <img
              src="{{ url_for('static', filename='icons/base-page/password-icon.svg') }}"
              alt="Icono de contraseña"
              class="auth_icon"
            />
            <span class="input_separator">|</span>
            <input
              id="login-password"
              type="password"
              placeholder="Contraseña"
              class="auth_input"
              required
            />
          </div>

          <button
            id="auth-submit-login"
            type="submit"
            class="auth_submit_button"
          >
            Iniciar Sesión
          </button>
          <div class="auth_toggle_container">
            <span id="auth-toggle-text">¿No tienes una cuenta?</span>
            <button id="auth-toggle-login" class="auth_toggle_button">
              Regístrate aquí
            </button>
          </div>
        </form>
        <!-- Registro -->
        <form id="register-form" class="auth_form hidden">
          <div class="register_input">
            <img
              src="{{ url_for('static', filename='icons/base-page/email-icon.svg') }}"
              alt="Icono de email"
              class="auth_icon"
            />
            <span class="input_separator">|</span>
            <input
              id="register-email"
              type="email"
              placeholder="Correo electrónico"
              class="auth_input"
              required
            />
          </div>
          <div class="register_input">
            <img
              src="{{ url_for('static', filename='icons/base-page/password-icon.svg') }}"
              alt="Icono de contraseña"
              class="auth_icon"
            />
            <span class="input_separator">|</span>
            <input
              id="register-password"
              type="password"
              placeholder="Contraseña"
              class="auth_input"
              required
            />
          </div>
          <button
            id="auth-submit-register"
            type="submit"
            class="auth_submit_button"
          >
            Registrarse
          </button>
          <div class="auth_toggle_container">
            <span id="auth-toggle-text">¿Ya tienes una cuenta?</span>
            <button id="auth-toggle-register" class="auth_toggle_button">
              Inicia Sesión
            </button>
          </div>
        </form>
        <div class="auth_separator">
          <span>O</span>
        </div>
        <!-- Google Login -->
        <button id="google-login-button" class="auth_google_button">
          <span>Iniciar sesión con Google</span>
        </button>
        <p id="auth-error" class="auth_error hidden"></p>
      </div>
      <div id="welcome-message" class="hidden">
        <h2>¡Bienvenido de nuevo,Master!</h2>
        <p style="color: white">Has iniciado sesión correctamente.</p>
        <div id="web-guide">
          <h2>Actividades:</h2>
          <ul>
            <li>Añade servants desde la página principal de búsqueda.</li>
            <li>
              Ver tus servants y sus stats en
              <span style="color: #f7b731">Mis Servants</span>.
            </li>
          </ul>
          <button id="welcome-close-button" class="auth_submit_button">
            Comenzar
          </button>
        </div>
      </div>
    </div>
    <header>
      <h1>FGO Dashboard</h1>
    </header>

    <!-- 2. LA BARRA DE NAVEGACIÓN (GLOBAL) -->
    <aside class="sidebar_index">
      <header class="index_header">Menu</header>
      <hr />
      <ul class="index_list">
        <!-- 
          NOTA: Es buena idea añadir una clase 'active' para saber 
          en qué página estamos. Esto lo podemos configurar en Python luego. 
        -->
        <li>
          <a href="/" class="index_element">
            <img
              src="{{ url_for('static', filename='icons/base-page/search-icon.svg') }}"
              class="sidebar_icon"
              alt="Icono Buscador"
            />
            <div class="sidebar_hide">
              <span class="index_text">Buscador</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/calculadora" class="index_element">
            <img
              src="{{url_for('static', filename='icons/base-page/calculator-icon.svg') }}"
              class="sidebar_icon"
              alt="Icono Calculadora"
            />
            <div class="sidebar_hide">
              <span class="index_text">Calculadora</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/mis-servants" class="index_element">
            <img
              src="{{url_for('static', filename='icons/base-page/servants-icon.svg') }}"
              class="sidebar_icon sidebar_icon--servant"
              alt="Icono Mis Servants"
            />
            <div class="sidebar_hide">
              <span class="index_text index_text--servants">Mis Servants</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/tierlist" class="index_element">
            <img
              src="{{ url_for('static', filename='icons/base-page/tier-icon.svg') }}"
              class="sidebar_icon sidebar_icon--tier"
              alt="Icono de Tier List"
            />
            <div class="sidebar_hide">
              <span class="index_text">Tier Lists</span>
            </div>
          </a>
        </li>
        <li>
          <a href="/fgodle" class="index_element">
            <img
              src="{{url_for('static', filename='icons/base-page/game-icon.svg') }}"
              class="sidebar_icon sidebar_icon--game"
              alt="Icono FGOdle"
            />
            <div class="sidebar_hide">
              <span class="index_text">FGOdle</span>
            </div>
          </a>
        </li>
        <li>
          <div class="index_element">
            <img
              src="{{url_for('static', filename='icons/base-page/calendar-icon.svg') }}"
              class="sidebar_icon"
              alt="Icono Misiones"
            />
            <div class="sidebar_hide">
              <span class="index_text">Weekly Missions</span>
            </div>
          </div>
        </li>
        <li class="index_element index_element--music">
          <div class="sound-column-icon">
            <img
              src="{{url_for('static', filename='icons/base-page/sound-icon.svg') }}"
              class="sidebar_icon sidebar_icon--sound"
            />
            <span id="volume-display">30</span>
          </div>
          <div class="sidebar_hide sidebar_hide--music">
            <span class="index_text index_text--music">ON/OFF<br />Music</span>
            <div class="range-wrap">
              <input
                type="range"
                id="volume-slider"
                class="range"
                min="0"
                max="100"
                value="30"
              />
            </div>
          </div>
        </li>
      </ul>
    </aside>

    <!-- 
      3. EL "AGUJERO" MÁGICO
      Aquí es donde Jinja2 inyectará el contenido 
      específico de cada página (como tu index.html).
    -->
    {% block content %}{% endblock %}

    <!-- ================================================
         SCRIPTS GLOBALES
         ================================================ -->

    <!-- 4. LOS SCRIPTS (GLOBALES) -->
    <audio id="ost-player" loop>
      <source
        src="{{ url_for('static', filename='audio/mi-ost-de-fgo.mp3') }}"
        type="audio/mpeg"
      />
    </audio>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script>
      const SUPABASE_URL = "{{ SUPABASE_URL }}";
      const SUPABASE_ANON_KEY = "{{ SUPABASE_ANON_KEY }}";
      const clienteSupabase = supabase.createClient(
        SUPABASE_URL,
        SUPABASE_ANON_KEY
      );
    </script>
    <!-- ✅ CAMBIO FASE 3: ES Module para imports -->
    <script
      type="module"
      src="{{ url_for('static', filename='main.js') }}"
    ></script>
  </body>
</html>
