* {
  box-sizing: border-box;
}

body {
  background-image: radial-gradient(
    ellipse at center,
    var(--color-dark-blue-secondary) 0%,
    var(--color-dark-blue) 100%
  );
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
  min-height: 150vh;
  font-family: Arial, sans-serif;
}

header {
  color: var(--color-gold);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  color: var(--color-gold);
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-wrap: nowrap;
}

h4 {
  margin-top: 10px;
  font-size: large;
  font-weight: bold;
  color: var(--color-gold);
  text-align: center; /* Movido de #sidebar-filtro a h4 global */
}

hr {
  width: 99%;
  border: none;
  height: 1px;
  background-color: black;
  margin: 20px 0;
}

.main_container {
  width: 100%;
  max-width: 1000px;
  background-color: var(--color-dark-blue-secondary);
  padding: 20px;
  border-radius: 8px;
}

.mis_servants_page {
  max-width: 1600px;
}

.text_container,
.add_button {
  flex-grow: 1;
  color: var(--color-gold);
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: small;
  background-color: var(--color-brown-transparent);
  text-align: center;
  padding: 8px 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 80%;
  max-height: 50px;
  cursor: default;
}

.medievalsharp-regular {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.hidden {
  display: none !important;
}
