.auth_container {
  position: absolute;
  top: 20px;
  right: 30px;
}

.auth_button,
.auth_user {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-gold);
  color: var(--color-dark-blue);
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  font-size: medium;
  font-weight: 550;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 182px;
  height: 50px;
  position: relative;
  z-index: 10;
}
.auth_button:hover {
  background-color: var(--color-gold-light);
  transform: translateY(-2px);
}
.auth_user {
  transition: border-bottom-left-radius 1s, border-bottom-right-radius 1s,
    background-color 0.3s ease, color 0.3s ease;
}
.auth_user:hover {
  background-color: black;
  color: white;
  text-align: center;
  z-index: 100;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  cursor: default;
  transition: border-radius 0.3s ease;
}
.auth_user:hover #user-profile-name {
  margin-left: 10px;
}
.user_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 100%;
  left: 0px;
  width: calc(100%);
  gap: 10px;

  background-color: black;
  border: inherit;
  border-top: none;
  border-radius: 0 0 20px 20px;
  padding: 10px 15px;
  margin-top: 0px;

  color: white;
  font-size: medium;
  font-weight: 550;
  cursor: default;

  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease-in;

  z-index: 99;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.auth_user:hover .user_menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
#user-email {
  margin-left: 5px;
}
.logout_button {
  display: flex;
  gap: 10px;
  background-color: black;
  color: white;
  font-size: medium;
  font-weight: 550;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.logout_button:hover {
  background-color: rgb(36, 34, 34);
  transform: translateY(-2px);
  border: 2px solid gray;
}
.logout_icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
#user-profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  flex-shrink: 0;

  background-color: black;
  color: var(--color-gold);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 1.1rem;

  user-select: none;
}

.auth_button img {
  width: 20px;
  height: 20px;
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;

  display: flex;
  justify-content: center;
  align-items: center;

  display: none;
}

#auth-modal,
#welcome-message {
  background: var(--color-dark-blue-secondary);
  border: 3px solid var(--color-gold);
  border-radius: 8px;
  padding: 25px;
  width: 90%;
  max-width: 350px;
  z-index: 1001;
  position: relative;

  display: block;
}
#welcome-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 1000;
  max-width: 400px;
}
#web-guide h2 {
  padding-left: 10px;
}
#web-guide ul {
  padding-left: 40px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
#web-guide li {
  color: #e0e0e0;
  font-size: 0.95rem;
  line-height: 1.4;
}

.modal_close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  color: var(--color-dark-blue);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.modal_close:hover {
  color: var(--color-gold);
}
.auth_form,
.auth_toggle_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_input {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  color: var(--color-text-gray);
  background-color: var(--color-dark-blue);
  border-bottom: 2px solid var(--color-purple-border);
  border-radius: 5px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  gap: 0.5rem;
}
.auth_icon {
  width: 30px;
  height: 30px;
}
.input_separator {
  width: 2px;
  background-color: rgb(20, 20, 20);
  cursor: default;

  margin-left: 0.75em;
  margin-right: 0.75em;
}
.input_separator--user {
  height: 80%;
  align-self: center;
  margin-left: 0.4em;
  margin-right: 0.4em;
}
.auth_input {
  color: var(--color-text-light);
  background-color: var(--color-dark-blue);
  border: none;
  outline: none;
}
.auth_input::placeholder {
  color: var(--color-text-gray);
}
.auth_input:-webkit-autofill {
  box-shadow: 0 0 0px 100px var(--color-dark-blue) inset !important;
  -webkit-text-fill-color: var(--color-text-light) !important;
}
.auth_input:focus {
  color: var(--color-text-light);
}

.login_input:focus-within {
  outline: none;
  border-color: var(--color-gold);
  box-shadow: 0 0 8px var(--color-gold);
}
.auth_submit_button {
  color: var(--color-gold);
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: small;
  background-color: var(--color-brown-transparent);
  text-align: center;
  padding: 8px 10px;
  border: 2px solid black;
  border-radius: 5px;
  width: 100%;
  transition: 0.3s;
}
.auth_submit_button:hover {
  background-color: var(--color-gold);
  color: var(--color-dark-blue);
  transform: translateY(-3px);
  font-weight: bold;
  border: 3px solid black;
  cursor: pointer;
}
#auth-toggle-text {
  color: black;
  text-align: center;
  margin-top: 10px;
  font-size: small;
  font-weight: bold;
}
.auth_toggle_button {
  flex-grow: 1;
  background-color: inherit;
  border: none;
  outline: none;
  color: rgb(56, 56, 150);
}
.auth_toggle_button:hover {
  color: #3a7bd5;
  text-decoration: underline;
  cursor: pointer;
}
.auth_error {
  color: #ff5555;
  text-align: center;
  margin-top: 15px;
}

.auth_separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-text-gray);
  margin: 15px 0;
}
.auth_separator::before,
.auth_separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid black;
}
.auth_separator span {
  padding: 0 10px;
}

.auth_google_button {
  background-color: rgb(255, 115, 0);
  color: #333;
  padding: 12px;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.2s ease, transform 0.2s ease;
}
.auth_google_button:hover {
  background-color: rgb(247, 181, 59);
  transform: translateY(-3px);
  font-weight: bold;
}
#add-window {
  background: #353434;
  border: 3px solid var(--color-gold);
  border-radius: 8px;
  padding: 25px;
  max-width: 350px;
  z-index: 1001;
  position: relative;

  display: block;
}
.servant_preview {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
}
#preview-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}
#servant-class-icon {
  width: 50px;
  height: 50px;
}
#servant-name {
  font-size: medium;
  font-weight: bold;
}
#servant-face {
  width: 100px;
  height: 100px;
  border: 3px solid black;
}
.add_form,
.clase_skills_wrapper {
  display: grid;
  grid-template-columns: 40px auto 0.2fr;
  align-items: center;
  text-wrap: nowrap;
  gap: 10px;
}
.add_form button:last-child {
  grid-column: span 3;
}
.add_form hr {
  grid-column: span 3;
}
.add_form .clase_skills_wrapper {
  grid-column: span 3;
}
.add_input {
  background-color: var(--color-brown-transparent);
  color: var(--color-gold);
  border: 2px solid black;
  gap: 40px;
  text-align: center;
}
.add_input::-webkit-inner-spin-button,
.add_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.add_input_label {
  color: var(--color-gold);
  font-size: small;
  font-weight: bold;
}
.skill_icon_preview {
  width: 40px;
  height: 40px;
  border: 3px solid black;
}
.level_img {
  width: 35px;
  height: 35px;

  background-color: black;
  color: var(--color-gold);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: smaller;

  user-select: none;
}
.np_img {
  width: 40px;
  height: 40px;
  margin-left: -2px;
}
.bond_img {
  width: 40px;
  height: 40px;
  margin-left: -2px;
}
