<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <!-- El título puede ser un bloque para que cada página lo cambie -->
    <title>{% block title %}F/GO Dashboard{% endblock %}</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
    </style>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" sizes="any" />
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.svg') }}" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}" />
    <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}" />
</head>

<body>
    <!-- 1. EL HEADER (GLOBAL) -->
    <header>
        <h1>FGO Dashboard</h1>
    </header>

    <!-- 2. LA BARRA DE NAVEGACIÓN (GLOBAL) -->
    <aside class="sidebar_index">
        <header class="index_header">Menu</header>
        <hr />
        <ul class="index_list">
            <!-- 
          NOTA: Es buena idea añadir una clase 'active' para saber 
          en qué página estamos. Esto lo podemos configurar en Python luego. 
        -->
            <li>
                <a href="/" class="index_element">
                    <img src="{{ url_for('static', filename='icons/side-bar/search-icon.svg') }}" class="sidebar_icon"
                        alt="Icono Buscador">
                    <div class="sidebar_hide">
                        <span class="index_text">Buscador</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/calculadora" class="index_element">
                    <img src="{{url_for('static', filename='icons/side-bar/calculator-icon.svg') }}"
                        class="sidebar_icon" alt="Icono Calculadora">
                    <div class="sidebar_hide">
                        <span class="index_text">Calculadora</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/mis-servants" class="index_element">
                    <img src="{{url_for('static', filename='icons/side-bar/servants-icon.svg') }}"
                        class="sidebar_icon sidebar_icon--servant" alt="Icono Mis Servants">
                    <div class="sidebar_hide">
                        <span class="index_text index_text--servants">Mis Servants</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/tier-list" class="index_element">
                    <img src="{{ url_for('static', filename='icons/side-bar/tier-icon.svg') }}"
                        class="sidebar_icon sidebar_icon--tier" alt="Icono de Tier List">
                    <div class="sidebar_hide">
                        <span class="index_text">Tier Lists</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/fgodle" class="index_element">
                    <img src="{{url_for('static', filename='icons/side-bar/game-icon.svg') }}"
                        class="sidebar_icon sidebar_icon--game" alt="Icono FGOdle">
                    <div class="sidebar_hide">
                        <span class="index_text">FGOdle</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/misiones" class="index_element">
                    <img src="{{url_for('static', filename='icons/side-bar/calendar-icon.svg') }}" class="sidebar_icon"
                        alt="Icono Misiones">
                    <div class="sidebar_hide">
                        <span class="index_text">Weekly Missions</span>
                    </div>
                </a>
            </li>
            <li class="index_element index_element--music">
                <div class="sound-column-icon">
                    <img src="{{url_for('static', filename='icons/side-bar/sound-icon.svg') }}"
                        class="sidebar_icon sidebar_icon--sound">
                    <span id="volume-display">30</span>
                </div>
                <div class="sidebar_hide sidebar_hide--music">
                    <span class="index_text index_text--music">ON/OFF<br>Music</span>
                    <div class="range-wrap">
                        <input type="range" id="volume-slider" class="range" min="0" max="100" value="30">
                    </div>
                </div>
            </li>
        </ul>
    </aside>

    <!-- 
      3. EL "AGUJERO" MÁGICO
      Aquí es donde Jinja2 inyectará el contenido 
      específico de cada página (como tu index.html).
    -->
    {% block content %}{% endblock %}

    <!-- 4. LOS SCRIPTS (GLOBALES) -->
    <audio id="ost-player" loop>
        <source src="{{ url_for('static', filename='audio/mi-ost-de-fgo.mp3') }}" type="audio/mpeg">
    </audio>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>