<!-- 
  Paso 1: Heredamos de nuestro esqueleto base
-->
{% extends "base.html" %}

<!-- 
  Paso 2: Definimos un título para esta página
-->
{% block title %}Juego{% endblock %}

<!-- 
  Paso 3: Este es el contenido único de la página
-->
{% block content %}

<!-- 
    Usamos <main> para mantener la consistencia con index.html,
    así heredará los estilos de 'main' del CSS.
  -->
<main>
  <h2>Juego</h2>
  <p style="color: white; font-size: 1.2rem;">
    ¡Aquí irá el futuro juego!
  </p>
</main>

{% endblock %}