<!-- 
  Paso 1: Le decimos a Jinja2 que este archivo "hereda" 
  de nuestro esqueleto base.html
-->
{% extends "base.html" %}

<!-- 
  Paso 2: Definimos un título específico para esta página 
  (esto reemplazará el bloque "title" en base.html) 
-->
{% block title %}Buscador de Servants{% endblock %}

<!-- 
  Paso 3: Todo el contenido único de esta página va 
  dentro del bloque "content".
-->
{% block content %}

<!-- La barra de filtros SÓLO existe en esta página -->
<aside id="sidebar-filtro">
  <h4>Filtros</h4>
  <hr />
  <div class="filtro_rarity">
    <button id="rarity-0" data-value="0">★</button>
    <button id="rarity-1" data-value="1">★</button>
    <button id="rarity-2" data-value="2">★★</button>
    <button id="rarity-3" data-value="3">★★★</button>
    <button id="rarity-4" data-value="4">★★★★</button>
    <button id="rarity-5" data-value="5">★★★★★</button>
  </div>
  <hr />
  <div class="filtro_class">
    <button id="class-saber" data-value="saber">
      <img src="{{ url_for('static', filename='classes/saber.png') }}" alt="Icono Saber" class="filter-icon" />
      <span>Saber</span>
    </button>
    <button id="class-archer" data-value="archer">
      <img src="{{ url_for('static', filename='classes/archer.png') }}" alt="Icono Archer" class="filter-icon" />
      <span>Archer</span>
    </button>
    <button id="class-lancer" data-value="lancer">
      <img src="{{ url_for('static', filename='classes/lancer.png') }}" alt="Icono Lancer" class="filter-icon" />
      <span>Lancer</span>
    </button>
    <button id="class-rider" data-value="rider">
      <img src="{{ url_for('static', filename='classes/rider.png') }}" alt="Icono Rider" class="filter-icon" />
      <span>Rider</span>
    </button>
    <button id="class-caster" data-value="caster">
      <img src="{{ url_for('static', filename='classes/caster.png') }}" alt="Icono Caster" class="filter-icon" />
      <span>Caster</span>
    </button>
    <button id="class-assassin" data-value="assassin">
      <img src="{{ url_for('static', filename='classes/assassin.png') }}" alt="Icono Assassin" class="filter-icon" />
      <span>Assassin</span>
    </button>
    <button id="class-berserker" data-value="berserker">
      <img src="{{ url_for('static', filename='classes/berserker.png') }}" alt="Icono Berserker" class="filter-icon" />
      <span>Berserker</span>
    </button>
    <button id="class-shielder" data-value="shielder">
      <img src="{{ url_for('static', filename='classes/shielder.png') }}" alt="Icono Shielder" class="filter-icon" />
      <span>Shielder</span>
    </button>
    <button id="class-ruler" data-value="ruler">
      <img src="{{ url_for('static', filename='classes/ruler.png') }}" alt="Icono Ruler" class="filter-icon" />
      <span>Ruler</span>
    </button>
    <button id="class-alterEgo" data-value="alterEgo">
      <img src="{{ url_for('static', filename='classes/alterego.png') }}" alt="Icono Alter Ego" class="filter-icon" />
      <span>Alter Ego</span>
    </button>
    <button id="class-avenger" data-value="avenger">
      <img src="{{ url_for('static', filename='classes/avenger.png') }}" alt="Icono Avenger" class="filter-icon" />
      <span>Avenger</span>
    </button>
    <button id="class-foreigner" data-value="foreigner">
      <img src="{{ url_for('static', filename='classes/foreigner.png') }}" alt="Icono Foreigner" class="filter-icon" />
      <span>Foreigner</span>
    </button>
    <button id="class-beast" data-value="beast">
      <img src="{{ url_for('static', filename='classes/beast.png') }}" alt="Icono Beast" class="filter-icon" />
      <span>Beast</span>
    </button>
    <button id="class-pretender" data-value="pretender">
      <img src="{{ url_for('static', filename='classes/pretender.png') }}" alt="Icono Pretender" class="filter-icon" />
      <span>Pretender</span>
    </button>
    <button id="class-moonCancer" data-value="moonCancer">
      <img src="{{ url_for('static', filename='classes/mooncancer.png') }}" alt="Icono Moon Cancer"
        class="filter-icon" />
      <span>Moon Cancer</span>
    </button>
  </div>
  <hr />
  <div class="filtro_NP">
    <button id="NP_Arts" data-value="1">
      <span>Arts</span>
    </button>
    <button id="NP_Quick" data-value="3">
      <span>Quick</span>
    </button>
    <button id="NP_Buster" data-value="2">
      <span>Buster</span>
    </button>
  </div>

  </div>
  <hr />
  <div class="reset_filter">
    <button id="reset-filter"><span>Reiniciar Filtros</span></button>
  </div>
</aside>
<!-- El <main> también es único de esta página -->
<main>
  <h2>Servants</h2>
  <div class="search_bar">
    <input type="text" id="search-bar" placeholder="Buscar Servant por nombre..." />
    <button id="button-filter">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-sliders-horizontal">
        <line x1="21" y1="4" x2="14" y2="4"></line>
        <line x1="10" y1="4" x2="3" y2="4"></line>
        <line x1="21" y1="12" x2="12" y2="12"></line>
        <line x1="8" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="20" x2="16" y2="20"></line>
        <line x1="12" y1="20" x2="3" y2="20"></line>
        <line x1="14" y1="2" x2="14" y2="6"></line>
        <line x1="8" y1="10" x2="8" y2="14"></line>
        <line x1="16" y1="18" x2="16" y2="22"></line>
      </svg>
      <span>Filtrar</span>
    </button>
  </div>

  <div class="servants_grid">
    {% for servant in servants_main_page %}
    <div class="servant_card" data-class="{{ servant.className | lower }}" data-rarity="{{ servant.rarity }}"
      data-name="{{ servant.name | lower }}" data-np="{{ servant.np.type }}" data-face="{{ servant.face }}"
      data-type="{{ servant.type | lower }}" data-servant-id="{{ servant.id }}"
      data-skills='{{ servant.skills | tojson }}'>
      <a href="/servant/{{ servant.collectionNo }}" class="details_link">
        <img src="{{ servant.face }}" alt=" Icono de {{ servant.name }}" class="face_main" />
      </a>
      <img src="{{ url_for('static', filename='classes/' + (servant.className | lower) + '.png') }}"
        alt="{{ servant.className }} class icon" class="class_icon_overlay">
      <div class="see_details_servant">
        <div class="rarity_card">
          {% for i in range(servant.rarity | int) %}
          <span>★</span>
          {% endfor %}
        </div>
        <h3 class="text_container">{{ servant.name }}</h3>
        {% if servant.type == 'normal' or servant.type == 'heroine' %}
        <button class="add_button add-servant-button hidden">Agregar</button>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</main>
<div id="add-servant-modal" class="modal_overlay">
  <div id="add-window">
    <button id="add-servant-close-button" class="modal_close">&times;</button>
    <h2 id="add-title">Agregar Servant</h2>
    <!-- Contenedor para el Servant seleccionado (se llenará con JS) -->
    <div id="servant-preview" class="servant_preview">
      <img id="servant-face" src="" alt="Servant Face" class="face_main">
      <div id="preview-details">
        <h2 id="servant-name" class="servant_name">Nombre del Servant</h2>
        <img id="servant-class-icon" src="" alt="Servant Class Icon" class="servant_icon">
      </div>
    </div>
    <hr>
    <!-- Formulario de Ingreso de Niveles -->
    <form id="add-servant-form" class="add_form">

      <!-- Campo oculto para guardar el ID del Servant -->
      <input type="hidden" id="input-servant-id" name="servant_id">

      <!-- 1. NIVEL DEL SERVANT (1-120) -->
      <div id="level-img-wrapper" class="level_img">Lv</div>
      <label for="input-level" class="add_input_label">Nivel Actual (1-120)</label>
      <input id="input-level" type="number" class="add_input" name="level" min="1" max="120" value="1" required>

      <!-- 2. NIVEL DE NP (1-5) -->
      <img id="np-img-wrapper" class="np_img"></img>
      <label for="input-np" class="add_input_label">Nivel de Noble Phantasm (1-5)</label>
      <input id="input-np" type="number" class="add_input" name="np_level" min="1" max="5" value="1" required>

      <!-- 3. NIVEL DE BOND (1-15) -->
      <img id="bond-img-wrapper" class="bond_img" src="{{ url_for('static', filename='icons/bondxp.png') }}"></img>
      <label for="input-bond" class="add_input_label">Nivel de Vínculo (0-15)</label>
      <input id="input-bond" type="number" class="add_input" name="bond_level" min="0" max="15" value="0" required>

      <hr>

      <!-- 4. NIVELES DE SKILLS (Usaremos un wrapper para Skills) -->
      <div id="skills-wrapper" class="clase_skills_wrapper">
        <!-- Los 3 inputs de skills se generarán con JavaScript -->
      </div>

      <button type="submit" class="auth_submit_button clase_submit_add">Guardar Servant</button>
    </form>

    <p id="add-error" class="auth_error hidden"></p>
  </div>
</div>

{% endblock %}