<!DOCTYPE html>
<html lang = "es">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    <title>F/GO Servants Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" sizes="any">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.svg') }}" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ url_for('static', filename='icons/apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='icons/site.webmanifest') }}">
</head>
<body>
    <header>
        <h1>FGO Dashboard</h1>

    </header>
    <main>
        <h2>Servants</h2>
        <div class="search_bar">
            <input type="text" id="search-bar" placeholder="Buscar por nombre...">
        </div>

        <div class="servants_grid">
            {% for servant in servants_main_page %}
                <a href="/servant/{{ servant.collectionNo }}" class="details_link">
                    <div class="servant_card"
                        data-class="{{ servant.className | lower }}"
                        data-rarity="{{ servant.rarity }}"
                        data-name="{{ servant.name | lower }}">
                        <img
                            src="{{ servant.face }}"
                            alt=" Icono de {{ servant.name }}"
                            class="face_main">
                        <div class="see_details_servant">
                            <h3>{{ servant.name }}</h3>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </main>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>