<!-- 
  Paso 1: Heredamos de nuestro esqueleto base
-->
{% extends "base.html" %}

<!-- 
  Paso 2: Definimos un título para esta página
-->
{% block title %}Mis Servants{% endblock %}

<!-- 
  Paso 3: Este es el contenido único de la página
-->
{% block content %}

<!-- 
    Usamos <main> para mantener la consistencia con index.html,
    así heredará los estilos de 'main' del CSS.
  -->
<main>
  <h2>Mis Servants</h2>
  <div class="servants_grid mis_servants_container" id="servants-container">
    <p id="loading-message">Consultando a Chaldea...</p>
  </div>
</main>

{% endblock %}
